<main id="main">
    <div class="heading text-center " data-aos="zoom-out" data-aos-duration="2000">
      <div>
        <h1>Welcome, {{user.name}}</h1>
        <br>
        <h2>Your New Daily Horoscope is Waiting</h2>
      </div>
      <br>
      <div>
        <button id="logout"><a href="">Logout</a></button>
      </div>
      <br>
      <div>
        <h2>Select Your Zodaic Sign</h2>
      </div>