<main id="main">
    <div class="heading text-center " data-aos="zoom-out" data-aos-duration="2000">
      <div>
        <h1>Welcome, {{user.name}}</h1>
        <br>
        <h2>Your New Daily Horoscope is Waiting</h2>
      </div>
      <br>
      <div>
        <button id="logout"><a href="http://localhost:3001/">Logout</a></button>
      </div>
      <br>
      <div>
        <h2>Select Your Zodaic Sign</h2>
      </div>

      <div class="container">
        <!--row 1-->
        <div class="row py-1">

          <div class="col text-center" id="card" data-aos='zoom-in' data-aos-duration="1000">
            <a href="#modal" rel="modal:open" onclick='selectCard("aries")'>
              <img src="images/zodiac/Aries.jpeg" alt="aries sign">
            </a>
            <h3 class='text-center'>Aries</h3>
          </div>

          <div class="col text-center" id="card" data-aos='zoom-in' data-aos-duration="2000">
            <a href="#modal" rel="modal:open" onclick='selectCard("taurus")'>
              <img src="images/zodiac/taurus.jpeg" alt="taurus sign">
            </a>
            <h3 class='text-center'>Taurus</h3>
          </div>

          <div class="col text-center" id="card" data-aos='zoom-in' data-aos-duration="3000">
            <a href="#modal" rel="modal:open" onclick='selectCard("gemini")'>
              <img src="images/zodiac/gemini.jpeg" alt="gemini sign">
            </a>
            <h3 class='text-center'>Gemini</h3>
          </div>

          <div class="col text-center" id="card" data-aos='zoom-in' data-aos-duration="3000">
            <a href="#modal" rel="modal:open" onclick='selectCard("cancer")'>
              <img src="images/zodiac/cancer.jpeg" alt="cancer sign">
            </a>
            <h3 class='text-center'>Cancer</h3>
          </div>

        </div>